#nav_main{

    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    
}

#nav_main ul{
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.link{
    text-decoration: none;

}